*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 22px;
    color: seashell;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    margin-bottom: 10px;
}
nav ul{
    display: flex;
    
}
nav ul li{
    margin-right: 15px;
    list-style: none;
    text-decoration: underline;
}

main{
    padding-top: 69px;
    width: 100%;
    
}
main img{
    height: 700px;
   width: 1200px;
   margin: 0 auto;
}

.img-group img{
    height: 200px;
    width: 300px;
}